.navbar {
    background-color: #F0F6FA;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar img {
    width: 230px;
    height: 230px;
}

.brand-and-routes {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.brand-name h1 {
    color: #1A1855;
    font-size: 65px;
}


.brand-name .first {}

.brand-name .second {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}


.navbar .routes {
    background-color: #E9F6F9;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.navbar .routes li {
    cursor: pointer;
    padding: 10px 24px;
    list-style: none;
}

.navbar .routes .selected {
    background-color: #36ACC0;
}

.navbar .routes .selected a {
    color: white;
}

.navbar .routes li a {
    color: black;
    width: 100%;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: 900;
    font-size: 16;
}

.navbar .routes li a:hover {}

.navbar .other-links {}

.navbar .other-links li {
    list-style: none;
    background-color: #1A1855;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .other-links li img{
    height: 26px;
    width: 26px;
}

.navbar .other-links li a {
    color: white;
    text-decoration: none;
}