* {
    margin: 0;
    padding: 0;
}

#reset-password {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100vh;
}

.close-icon img {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    right: 100px;
    top: 50px;
}

#reset-password .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#reset-password .form-container header {
    font-size: 48px;
    line-height: 0.8em;
    margin-bottom: 23px;
    margin-top: 10px;
    font-weight: 500;
}

#reset-password .form-container .sub-heading {
    color: rgb(113, 121, 122);
    font-size: 18px;
    padding-bottom: 60px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 30px;
}

#reset-password .form-container .input-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#reset-password .form-container .input-container label {
    color: rgb(113, 121, 122);
    font-size: 18px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    line-height: 30px;
}

#reset-password .form-container .input-container input {
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#reset-password .form-container .button {
    width: 90%;
    margin-top: 20px;
    font-size: 16px;
    color: rgb(113, 121, 122);
    background-color: black;
    padding: 10px 40px;
}

@media screen and (max-width: 900px) {
    .close-icon img {
        right: 20px;
        top: 20px;
    }

    #reset-password .form-container header {
        font-size: 30px;
    }

    #reset-password .form-container .sub-heading {
        font-size: 12px;
        letter-spacing: 1px;
    }
}
